.header {
  position:fixed;
  z-index: 1;
  color: $fondo;
  width: 100vw;
}
.main-title {
  background-color: rgba($primary,0.8);
  font-size:32px;
  text-align:center;
  padding:2*$s-base;
}
.menu {
  background-color: rgba($secondary,0.8);
  text-align: left;
  padding:$s-base 0;

  &__element {
    text-decoration: none;
    color: $fondo;
    text-transform: capitalize;
    padding-right:3*$s-base;
  }
}

