// colores
$texto:#333;
$fondo:#EEE;
$primary:#5e2a66;
$secondary:#af8f2c;

// fuentes
$f-title:'Playfair Display', 'Times New Roman', Times, serif;
$f-text: Rubik, Arial, sans-serif;

// tamaños
$s-base:8px;
