<main class="content">
    <partial src="_hero.html" label="Hero"></partial>
    <div class="page__wrapper">
        <article class="item">
            <h2 class="title_item">
                <a href="">Vino Rioja</a>
            </h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo molestiae ad quas sint
                quam pariatur perferendis? Natus doloribus, rem, iste illo nihil laudantium enim harum at beatae qui
                aperiam voluptate?
                Consequatur quis dolore saepe rerum aliquid esse in tempore debitis fugit et iusto quas, id aut minus
                excepturi doloribus dignissimos vitae. Expedita repellat, earum quia eaque odio aperiam ipsa illo.
                Hic culpa accusamus deleniti velit, cupiditate laudantium unde quod soluta ut recusandae dignissimos,
                voluptatem distinctio! Dicta deleniti quam vel ad numquam, expedita, itaque, veniam architecto beatae
                earum consectetur ex quidem.
                Tempore eos amet quae. Assumenda ipsum obcaecati doloremque! Eos fuga temporibus laboriosam soluta
                dolores, itaque, consectetur quaerat impedit amet aperiam excepturi beatae? Laborum, natus? At maxime
                cum officia consequuntur iste?</p>
        </article>
        <article class="item">
            <h2 class="title_item">
                <a href="">Vino Ribera</a>
            </h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, minus cumque. Aliquid
                quaerat excepturi rerum illo quae dolorem praesentium, quasi, impedit dolor ratione nobis asperiores
                totam accusantium tempora beatae et.
                Labore repellendus voluptas officiis nemo mollitia optio! Ipsa perferendis quasi dolore similique
                veritatis, labore porro consequuntur quod? Molestiae sint exercitationem adipisci quis quibusdam
                provident deserunt ex, consequuntur, quod vero eligendi!
                Vitae fugiat id eum porro, cum labore blanditiis velit ipsa accusamus magni maiores, ducimus minima ab
                repudiandae maxime consectetur repellat ratione, atque officia! Quasi omnis quaerat sapiente
                voluptatibus architecto expedita.
                Doloribus suscipit ut sed quibusdam libero numquam, ducimus explicabo repellat minima culpa, quia
                veritatis, soluta aperiam optio hic? Dolor eveniet sapiente beatae sequi recusandae a vel fugiat fugit
                modi veniam!</p>

        </article>
        <article class="item">
            <h2 class="title_item">
                <a href="">Vino verdejo</a>
            </h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis sit dolorem porro laborum
                unde ipsa aliquam qui sint dolore ex! Ipsam magnam illum eum ducimus qui accusantium alias, voluptates
                quia!
                Quisquam sapiente non accusamus. Exercitationem, aspernatur cum? Molestiae vitae ullam vel, aliquid
                reiciendis nisi voluptatum nostrum enim accusantium? Magni, nihil animi! Provident molestias expedita
                reprehenderit, dolore temporibus unde odio amet.
                Alias quae at quibusdam aspernatur porro recusandae ducimus aliquid et quisquam nisi dolores nemo non
                ipsam harum dicta est ex voluptas, temporibus odio quasi fugiat! Dolorum ipsam hic facilis sunt!
                Numquam, rerum fugit saepe rem ipsam doloremque, animi repudiandae tempora culpa quas fuga, adipisci
                reiciendis minus temporibus alias maxime ut minima commodi veniam ex sequi asperiores inventore placeat!
                Possimus, totam!</p>
        </article>
    </div>
</main>
